@import "~bootstrap/scss/bootstrap";


input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 8px rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.25);
}

.auth-form{
    width: 300px;
}
.btn-outline-dark:hover {
    color: initial;
    background-color: initial;
    border-color: initial;
}
.animated-hidden{
    margin: 0 !important;
    padding: 0 !important;
    height: 0 !important;
    border: none !important;
    opacity: 0;
    overflow: hidden;
}

.transition-hidden{
    transition: all 0.15s linear;
}
